.ftco-services {
  padding: 0 0 5em 0; }
  .ftco-services .services {
    display: block;
    width: 100%;
    position: relative;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    .ftco-services .services .icon {
      line-height: 1.3;
      position: relative;
      margin: 0 auto;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      border-radius: 50%; }
      .ftco-services .services .icon span {
        font-size: 50px;
        color: #fff; }
    .ftco-services .services .media-body {
      color: rgba(255, 255, 255, 0.8); }
      @media (max-width: 767.98px) {
        .ftco-services .services .media-body {
          padding-bottom: 3.5em !important; } }
      .ftco-services .services .media-body h3 {
        font-weight: 500;
        font-size: 22px;
        color: #fff; }
        .ftco-services .services .media-body p {
          font-size: 15px;
          line-height: 1.8; }
          .no-gutters {
  margin-right: 0;
  margin-left: 0; }
  .no-gutters > .col,
  .no-gutters > [class*="col-"] {
    padding-right: 0;
    padding-left: 0; }
    .ftco-no-pb {
  padding-bottom: 0px; }
  .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }
   .col-md-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%; }
    .align-self-stretch {
  -ms-flex-item-align: stretch !important;
  -ms-grid-row-align: stretch !important;
  align-self: stretch !important; }
  

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: #0062cc !important; }
  .bg-primary {
  background: #fd5f00 !important; }
  .d-block {
  display: block !important; }
  .text-center {
  text-align: center !important; }
  .justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important; }
  