
.owl-carousel.home-slider .slider-item {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  height: 600px;
  position: relative;
  z-index: 0;
}
@media (max-width: 1199.98px) {
  .owl-carousel.home-slider .slider-item {
    background-position: center center !important;
  }
}
.owl-carousel.home-slider .slider-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #0d1128;
  background: -moz-linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, #0d1128),
    color-stop(100%, #fd6100)
  );
  background: -webkit-linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
  background: -o-linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
  background: -ms-linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
  background: linear-gradient(45deg, #0d1128 0%, #fd6100 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0d1128', endColorstr='#fd6100', GradientType=1 );
  opacity: 0.5;
}
.owl-carousel.home-slider .slider-item .container {
  position: relative;
  z-index: 2;
}
.owl-carousel.home-slider .slider-item .text {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.owl-carousel.home-slider .slider-item .text h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
}
.owl-carousel.home-slider .slider-item .text p {
  font-size: 18px;
  margin: 20px 0;
}
.owl-carousel.home-slider .slider-item .text .btn-primary {
  background: #fd6100;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600;
}
.owl-carousel.home-slider .slider-item .text .btn-primary:hover {
  background: #e65500;
}
